canvas {
  position: absolute;
  top: 100px;
  left: 0;
}

.panel-container {
  position: absolute;
  right: 0;
  margin: 0;
  top: 0;
  width: 30%;
  border: 1px dotted black;
  height: 100%;
}

.panel-primary-container {
  min-height: 300px;

}

.panel-compare-container {
  display: flex;
  flex-direction: row;
}

